.logo {
  font-family: 'Visual', sans-serif;
}

.nav-wrapper {
  position: fixed;
  top: 0;
  left: 40%;
  right: 40%;
}
.nav2-wrapper {
  position: fixed;
  bottom: 0;
  left: 40%;
  right: 40%;
}
.nav-wrapper,
.nav2-wrapper {
  padding: 20px;
  text-align: center;
  a {
    padding: 0;
    font-family: 'Visual', sans-serif;
    font-size: 24px;
    line-height: 40px;
    text-decoration: none !important;
    letter-spacing: 0.05em;
    color: black;
    position: relative;
    i {
      display: block;
    }
  }
  .logo {
    margin: 0 20px;
  }
}
