.logo {
  font-family: 'Visual', sans-serif;
  text-transform: uppercase;
}

.nav-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  padding: 20px;
  a {
    padding: 0;
    margin: 0 20px 0 0;
    font-family: 'Visual', sans-serif;
    font-size: 24px;
    line-height: 40px;
    text-decoration: none !important;
    letter-spacing: 0.05em;
    color: black;
    position: relative;
  }
  .logo {
    margin: 0 20px;
  }
}
