.overlay-wrapper {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: space-between;;
  padding: 40px;
  background-color: white;

  visibility: hidden;
  opacity: 1;
  transform: translateY(100vh);
  transition: all 0.5s ease-out;
  &.visible {
    visibility: visible;
    opacity: 1;
    transform: translateY(0);
    & ~ .floating-thumbs-wrapper {
      display: none;
    }
  }
  .prev,
  .next {
    font-family: 'Visual', sans-serif;
    font-size: 24px;
    letter-spacing: 0.05em;
    cursor: pointer;
    transition: all 0.3s ease-out;
    a {
      text-decoration: none !important;
    }
  }
  .prev:hover {
    transform: translateY(-10px);
  }
  .next:hover {
    transform: translateY(10px);
  }

  .overlay-content,
  .prev,
  .next {
    flex: 0 1 auto;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
  }
}
.overlay-content {
  svg {
    width: 600px;
    height: 600px;
    // box-shadow: 0 0 15px rgba(black, 0.1);
    text,
    path {
      transition: all 0.3s ease-out;
    }
    &:active {
      text,
      path {
        opacity: 0 !important;
      }
    }
  }
}
.meta-wrapper {
  position: absolute;
  top: calc(50vh - 250px);
  right: 0;
  left: calc(50vw + 300px);

  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: flex-start;
  font-size: 13px;
  > div {
    margin: 20px;
    span {
      display: block;
    }
  }
  a {
    font-weight: bold;
  }
}
