@charset "UTF-8";

$tool-background: #ccc;

.remix-wrapper {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;

  .fabric-wrapper {
    width: 800px;
    height: 800px;
    box-shadow: 0 0 15px rgba(black, 0.1);
  }
  .description {
    text-align: center;
    a {
      font-weight: bold;
    }
  }
  input {
    background-color: white;
    outline: 1px solid darken($tool-background, 10%);
    outline-offset: -1px;
    padding: 0 5px;
    margin: 0 0 10px 0;
    line-height: 30px;
    width: 100%;
  }
  button {
    cursor: pointer;
    outline: none !important;
    padding: 0 5px;
    margin: 0 0 10px 0;
    font-size: 11px;
    line-height: 30px;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 0.05em;
    text-align: center;
    background-color: darken($tool-background, 10%);
    color: white;
    transition: all 0.3s ease-out;
    &:hover {
      background-color: darken($tool-background, 20%);
    }
  }
  #save-share {
    display: block;
    width: 100%;
    color: white;
    &:hover {
      background-color: $twblue;
    }
  }

  .tools {
    position: absolute;
    top: 200px;
    left: 0;
    transform-origin: top left;
    // transform: scale(1.25);
    *:not(input) {
      user-select: none;
    }
  }
  .tool {
    position: relative;
    background-color: transparent;
    font-size: 12px;
    margin: 20px;
    padding: 25px 5px 5px 5px;
    max-width: 220px;
    transform: translate3d(0,0,0);
    transition: all 0.2s ease-out;
    &:hover {
      background-color: darken($background, 5%);
    }

    .handle {
      cursor: move;
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      padding: 5px;
      font-size: 10px;
      font-weight: bold;
      line-height: 10px;
      text-transform: uppercase;
      letter-spacing: 0.1em;
    }
    .error {
      display: none;
      font-size: 10px;
      color: $red;
    }
    &.text-typer {
      input {
        width: 75%;
        margin: 0;
      }
      button {
        width: 25%;
        margin: 0 0 0 -5px;
      }
    }
    .colors {
      margin-bottom: -5px;
    }
    li {
      cursor: pointer;
      list-style: none;
      display: inline-block;
      position: relative;
      width: 30px;
      height: 30px;
      text-align: center;
      &:not(:last-child) {
        margin: 0 1px 0 0;
      }
      &.font {
        color: rgba(black, 0.5);
        &.selected {
          background-color: rgba(black, 0.25);
          color: #CCC;
        }
        &:before {
          content: 'A';
          font-size: 20px;
          line-height: 30px;
          text-align: center;
        }
      }
      &.object {
        position: relative;
        color: rgba(black, 0.5);
        &.selected {
          background-color: rgba(black, 0.15);
          color: #CCC;
        }
        &:after {
          position: absolute;
          top: 0;
          right: 0;
          bottom: 0;
          left: 0;
        }
        &[data-object="select"]:after {
          content: '';
          background: url(svg/tool_select.svg) no-repeat 50% 50% / 80% 80%;
        }
        &[data-object="brush"]:after {
          content: '';
          background: url(svg/tool_brush.svg) no-repeat 50% 50% / 80% 80%;
        }
        &[data-object="erase"]:after {
          content: '';
          background: url(svg/tool_trash.svg) no-repeat 50% 50% / 80% 80%;
        }
      }
      &[data-font="Helvetica"] {
        font-family: "Helvetica";
      }
      &.color.selected:after {
        content: '';
        position: absolute;
        top: 10px;
        left: 10px;
        width: 10px;
        height: 10px;
        border-radius: 10px;
        background-color: #CCC;
      }
      &[data-font="Georgia"] {
        font-family: "Georgia";
      }
      &[data-font="Courier"] {
        font-family: "Courier";
      }
      &[data-color="#FFF"] {
        background-color: #FFF;
      }
      &[data-color="#000"] {
        background-color: #000;
      }
      &[data-color="#FC173B"] {
        background-color: #FC173B;
      }
      &[data-color="#3ECDFC"] {
        background-color: #3ECDFC;
      }
      &[data-color="#FECB6E"] {
        background-color: #FECB6E;
      }
      &[data-color="#663FFB"] {
        background-color: #663FFB;
      }
      &[data-color="#FDCDFD"] {
        background-color: #FDCDFD;
      }
      &[data-color="#6DFD6E"] {
        background-color: #6DFD6E;
      }
    }
  }
  .ui-slider {
    position: relative;
    border: 1px solid black;
    margin: 10px;
    .ui-slider-handle {
      cursor: pointer;
      position: absolute;
      top: -13px;
      z-index: 2;
      outline: 0 !important;
      width: 25px;
      height: 25px;
      border-radius: 25px;
      cursor: default;
      touch-action: none;
      background-color: #CCC;
      border: 10px solid black;
      transform: translateX(-12px);
    }
  }
}
