body {
  font-family: 'nimbus-sans','Work Sans', Helvetica, Arial, sans-serif;
  font-size: 100%;
  line-height: 1.5;
}
h1,
h2,
h3 {
  margin-top: 0;
  margin-bottom: 0;
}
h1 {
  font-size: 2.61538em;
  padding: 1.54409em 0;
}
h2 {
  font-size: 1.61538em;
  padding: 1.57138em 0;
}
h3,
h4,
h5,
h6 {
  font-size: 1.23077em;
  padding: 1.68738em 0;
}
p {
  font-size: 1em;
  padding: 1em 0;
}
