<div class="info-wrapper">
  <a class="info" href="/">&uarr;</a>
  <p><span class="logo">Remix Party</span> is a work-in-progress project and temporary environment that looks into remix practices as a way to engage with cultural heritage in the digital age.</p>
  <p>Join the party and start remixing old photographs from the digital archives of Helsinki City Museum...</p>
  <!-- <a href="https://twitter.com/remixpartywip">Follow<br>@remixpartywip</a>
  <a href="mailto:remixpartywip@gmail.com">Contact<br>remixpartywip@gmail.com</a> -->
  <a class="info" href="/">&darr;</a>
</div>
