<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">

    <title>{{ appTitle }}</title>

    <link rel="stylesheet" href="/css/styles.min.css" media="screen" charset="utf-8" />

    <script src="/js/js-depends.js"></script>
    <script src="/js/remix-db.js"></script>
    <script src="/js/remix-widget.js"></script>
  </head>
  <body>
    <div class="nav-wrapper">
      <a class="info" href="#info"></a>
      <a class="logo" href="/">{{ appTitle }}</a>
    </div>
    <div class="page-wrapper">
      {% block content %}{% endblock %}
    </div>
  </body>
</html>
