<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">

    <title>{{ apptitle }}</title>

    <link rel="stylesheet" href="/css/styles.min.css" media="screen" charset="utf-8" />

    <script src="https://use.typekit.net/awi0rrg.js"></script>
    <script>try{Typekit.load({ async: true });}catch(e){}</script>

    <script src="/js/scripts.js"></script>
  </head>
  <body>
    <div class="page-wrapper">
      {% block content %}{% endblock %}
    </div>
  </body>
</html>
