<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">

    <title>{{ title }}</title>

    <link rel="stylesheet" href="/css/styles.min.css" media="screen" charset="utf-8" />

    <script src="/js/js-depends.js"></script>
    <script src="/js/remix-db.js"></script>
    <script src="/js/remix.js"></script>
  </head>
  <body>
    <div class="nav-wrapper">
      <h1>{{ title }}</h1>
      <!-- <ul>
        <li class="{{ infoActive }}"><a href="/info">Info</a></li>
      </ul> -->
    </div>
    <div class="page-wrapper">
      {% block content %}{% endblock %}
    </div>
  </body>
</html>
