<div class="remix-wrapper" data-remixsrc="{{ remixsrc }}">
  <div class="fabric-wrapper">
      <canvas id="remix-canvas" width="600" height="600"></canvas>
  </div>
  <div class="meta-wrapper">
    <span class="description">
      <a href="{{ srcurl }}">{{ title }}</a><br>{{ meta }}
    </span>
  </div>
  <div class="tools">
    <div class="tool text-typer" data-text="" data-font="Helvetica" data-font-size="36" data-color="#FFF">
      <div class="handle">
        <span>Add text</span>
      </div>
      <input type="text" name="text-value" placeholder="Type text here" value="">
      <button type="button" name="text-add">Add</button>
    </div>
    <div class="tool color-switcher" data-color="#FFF">
      <div class="handle">
        <span>Pick color</span>
      </div>
      <ul class="colors">
        <li class="color selected" data-color="#FFF"></li>
        <li class="color" data-color="#000"></li>
        <li class="color" data-color="#FC173B"></li>
        <li class="color" data-color="#663FFB"></li>
        <li class="color" data-color="#FECB6E"></li>
        <li class="color" data-color="#6DFD6E"></li>
      </ul>
    </div>
    <div class="tool brush-sizer" data-size="20">
      <div class="handle">
        <span>Brush Size</span>
      </div>
      <div class="brush-size-vis"></div>
      <div id="brush-sizer"></div>
    </div>
    <div class="tool object-selector" data-object="brush">
      <div class="handle">
        <span>Tools</span>
      </div>
      <ul class="objects">
        <li class="object" data-object="select"><i class="fa fa-object-group"></i></li>
        <li class="object selected" data-object="brush"><i class="fa fa-paint-brush"></i></li>
        <li class="object" data-object="erase"><i class="fa fa-trash-o"></i></li>
      </ul>
    </div>
    <div class="tool remix-saver">
      <div class="handle">
        <span>Fill this out</span>
      </div>
      <input id="save-name" type="text" name="name" value="" placeholder="Your Full-name">
      <input id="save-email" type="email" name="email" value="" placeholder="Email (only for our records)">
      <input id="save-title" type="text" name="title" value="" placeholder="A Title (optional)">
      <button id="save-share" type="button" name="save">Save and share</button>
      <p class="error">Please fill in your name and a valid email</p>
    </div>
  </div>
</div>
