<div class="remix-wrapper">
  <div class="fabric-wrapper">
      <canvas id="remix-canvas" width="800" height="800"></canvas>
      <button id="save-share" type="button" name="save">Save and share</button>
  </div>
  <div class="tools">
    <div class="tool text-typer" data-text="" data-font="Helvetica" data-font-size="36" data-color="#FFF">
      <div class="handle">
        <span>Add text</span>
      </div>
      <input type="text" name="text-value" placeholder="Type text here" value="">
      <button type="button" name="text-add">Add</button>
      <ul class="fonts">
        <li class="font selected" data-font="Helvetica"></li>
        <li class="font" data-font="Georgia"></li>
        <li class="font" data-font="Courier"></li>
      </ul>
    </div>
    <div class="tool color-switcher" data-color="#FFF">
      <div class="handle">
        <span>Pick color</span>
      </div>
      <ul class="colors">
        <li class="color selected" data-color="#FFF"></li>
        <li class="color" data-color="#000"></li>
        <li class="color" data-color="#B22"></li>
        <li class="color" data-color="#26B"></li>
        <li class="color" data-color="#692"></li>
        <li class="color" data-color="#D82"></li>
      </ul>
    </div>
    <div class="tool brush-sizer" data-size="20">
      <div class="handle">
        <span>Brush Size</span>
      </div>
      <div class="brush-size-vis"></div>
      <div id="brush-sizer"></div>
    </div>
    <div class="tool object-selector" data-object="brush">
      <div class="handle">
        <span>Tools</span>
      </div>
      <ul class="objects">
        <li class="object" data-object="select"></li>
        <li class="object selected" data-object="brush"></li>
        <li class="object" data-object="erase"></li>
      </ul>
    </div>
  </div>
</div>
