{% extends 'layout.html' %}

{% block content %}
  <div class="overlay-wrapper visible">
    <span class="prev"><a href="/">&larr;&nbsp;Gallery</a></span>
    <div class="overlay-content">
      <div>
        {% autoescape false %}{{ remixsvg }}{% endautoescape %}
      </div>
      <div class="meta-wrapper">
        <div>
          <span>Remix by <a href="mailto:{{ email }}">{{ fullname }}</a></span>
          <span>{{ date }}</span>
          <span>Archive of Remixes</span>
        </div>
      </div>
    </div>
    <span class="next"><a href="{{ remixthis }}">Remix this&nbsp;&rarr;</a></span>
  </div>
{% endblock %}
