{% extends 'layout.html' %}

{% block content %}
  <div class="overlay-wrapper visible remix-id" data-filename="{{ remixsrc }}">
    <span class="prev"><a href="/">&larr;&nbsp;Gallery</a></span>
    <div class="overlay-content">
      <div>
        {% autoescape false %}{{ remixsvg }}{% endautoescape %}
      </div>
      <div class="meta-wrapper">
        <div>
          <span>Remix by <a href="mailto:{{ email }}">{{ fullname }}</a></span>
          <span>{{ date }}</span>
          <span>Archive of Remixes</span>
        </div>
      </div>
    </div>
    <span class="next nav-remix">Remix this&nbsp;&rarr;</span>
  </div>
{% endblock %}
