{% extends 'layout.html' %}

{% block content %}
  <div class="nav-wrapper">
    <a href="/"><i class="fa fa-angle-up"></i>archive</a>
  </div>
  <div class="remix-list">
    {% for remix in data %}
    <div class="remix" data-id="{% autoescape false %}{{ remix._id }}{% endautoescape %}">
      <a class="remix-id" href="/remix/{% autoescape false %}{{ remix._id }}{% endautoescape %}">
        {% autoescape false %}{{ remix.remixsvg }}{% endautoescape %}
      </a>
      <div class="meta-wrapper">
          <span>Remix by <a href="mailto:{{ remix.email }}">{{ remix.fullname }}</a></span>
          <span class="date">{{ remix.displayDate }}</span>
          <span class="tools">
            <span class="remix-delete"><i class="fa fa-trash-o"></i></span>
            <span class="remix-refresh"><i class="fa fa-refresh"></i></span>
          </span>
      </div>
    </div>
    {% endfor %}
  </div>
  {% include "info-wrapper.html" %}
{% endblock %}
