{% extends 'layout.html' %}

{% block content %}
  <div class="nav-wrapper">
    <a href="/"><i class="fa fa-angle-up"></i>archive</a>
  </div>
  <div class="remix-list">
    <h2>All Remixes</h2>
    {% for remix in data %}
    <div>
      <a href="/remix/{% autoescape false %}{{ remix._id }}{% endautoescape %}">
        {% autoescape false %}{{ remix.remixsvg }}{% endautoescape %}
      </a>
      <div class="meta-wrapper">
          <span>Remix by <a href="mailto:{{ remix.email }}">{{ remix.fullname }}</a></span>
          <span>{{ remix.date }}</span>
          <span class="remix-delete" data-id="{% autoescape false %}{{ remix._id }}{% endautoescape %}"><i class="fa fa-trash-o"></i></span>
      </div>
    </div>
    {% endfor %}
  </div>
  {% include "info-wrapper.html" %}
{% endblock %}
