<div class="remix-wrapper">
  <div class="fabric-wrapper">
      <canvas id="remix-canvas" width="800" height="800"></canvas>
  </div>
  <p class="description"></p>
  <div class="tools">
    <div class="tool text-typer" data-text="" data-font="Helvetica" data-font-size="36" data-color="#FC173B">
      <div class="handle">
        <span>Add text</span>
      </div>
      <input type="text" name="text-value" placeholder="Type text here" value="">
      <button type="button" name="text-add">Add</button>
    </div>
    <div class="tool color-switcher" data-color="#FC173B">
      <div class="handle">
        <span>Pick color</span>
      </div>
      <ul class="colors">
        <li class="color" data-color="#FFF"></li>
        <li class="color" data-color="#000"></li>
        <li class="color selected" data-color="#FC173B"></li>
        <li class="color" data-color="#663FFB"></li>
        <li class="color" data-color="#FECB6E"></li>
        <li class="color" data-color="#6DFD6E"></li>
      </ul>
    </div>
    <div class="tool brush-sizer" data-size="20">
      <div class="handle">
        <span>Brush Size</span>
      </div>
      <div class="brush-size-vis"></div>
      <div id="brush-sizer"></div>
    </div>
    <div class="tool object-selector" data-object="brush">
      <div class="handle">
        <span>Tools</span>
      </div>
      <ul class="objects">
        <li class="object" data-object="select"></li>
        <li class="object selected" data-object="brush"></li>
        <li class="object" data-object="erase"></li>
      </ul>
    </div>
    <div class="tool remix-saver">
      <div class="handle">
        <span>Fill this out</span>
      </div>
      <input id="save-name" type="text" name="name" value="" placeholder="Name">
      <input id="save-email" type="email" name="email" value="" placeholder="Email">
      <button id="save-share" type="button" name="save">Save and share</button>
      <p class="error">Please fill in your name and a valid email</p>
    </div>
  </div>
</div>
