{% extends 'layout.html' %}

{% block content %}
  <div class="nav-wrapper">
    <a class="info prev" href="#info"><i class="fa fa-angle-up"></i>archive</a>
  </div>
  <div class="overlay-wrapper visible remix-id" data-filename="{{ remixsrc }}">
    <div class="overlay-content">
      <div>
        {% autoescape false %}{{ remixsvg }}{% endautoescape %}
      </div>
      <div class="meta-wrapper">
        <div>
          <span>Remix by <a href="mailto:{{ email }}">{{ fullname }}</a></span>
          <span>{{ date }}</span>
        </div>
      </div>
    </div>
  </div>
  <div class="nav2-wrapper">
    <a class="nav-remix next" href="#info">remix this<i class="fa fa-angle-down"></i></a>
  </div>
  {% include "info-wrapper.html" %}
{% endblock %}
